body {
    background-color: #480808;
    color: white
}


div {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

div.table {
    top: 5vw;
    width: 90vw;
    height: 45vw;
}

img.card {
    height: auto;
    width: 5vw;
    padding-top: 40px;
    padding-bottom: 120px;
    border: 0.5vw solid transparent;

}

.deck-card {
    height: auto;
    width: 5vw;
    position: absolute;
}

.space {
    content: "\a\a\a";
    white-space: pre;
}

.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

h3:after {
    content: "\a\a\a";
    white-space: pre;
}

#dealerscards {

    position: absolute;
    top: 6vh;
    left: 45vw;

}



#deck {
    position: absolute;
    left: 20vw;
    top: 23vh;
}

#MarathonJack {

    position: absolute;
    padding-left: 42vw;
    white-space: nowrap;

}

#table{
    position: absolute;
    width:90vw;
    height:75vh;
    padding-top:10vh;
    padding-left:5vw;
    padding-bottom: 10vh;
    
}

#yourcards {
    position: absolute;
    left: 45vw;
    top: 65vh;
}

#dealer{
    position: absolute;
    left: 30vw;
    top: 10vh;
}

#player{
    position: absolute;
    left: 30vw;
    top: 40vh;

}

#interface{
    position: absolute;
    left: 44vw;
    top: 85vh; 
}


.button_interface{
    position: relative;
    right:1vw;
}

