body{
    background-color: #480808;
    color: white
}

div {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

div.table {
    background-image: url(img/table.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90vw;
    height: 45vw;
    border: solid;
    border-color: black;
}

img.card {
    height: 100px;
    width: auto;
    padding-top: 40px;
    padding-bottom: 120px;
    border: 0.5vw solid transparent;
}


.space{
    content:"\a\a\a";
    white-space: pre;
}

.centered{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

h3:after{
    content:"\a\a\a";
    white-space: pre;
}

#dealerscards{
    position: relative;

}

body {
    background-color: #631414;
    color: white;
}

